<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators</title>
		<meta name="description" content="" />
		<meta name="Author" content="J.L." />

		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" %>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto&display=swap" %>

		<%= stylesheet_link_tag "/assets/plugins/bootstrap/css/bootstrap.min.css" %>

		<%= stylesheet_link_tag "/assets/plugins/slider.revolution/css/extralayers.css" %>
	  	<%= stylesheet_link_tag "/assets/plugins/slider.revolution/css/settings.css" %>

		
		<%= stylesheet_link_tag "/assets/stylesheets/essentials.css" %>
		<%= stylesheet_link_tag "/assets/stylesheets/layout.css" %>

		
		<%= stylesheet_link_tag "/assets/stylesheets/header-1.css" %>
	</head>

	<body id="top" class="smoothscroll enable-animation grain-blue">

		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left" href="#top">
							<%= image_tag("R2.png", :alt => "Rocket Elevators Logo") %>
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#top">
											HOME
										</a>
									</li>
									<li class="dropdown"><!-- SERVICES -->
										<a class="dropdown-toggle" href="#services">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li>
												<a href="landing-res.html">RESIDENTIAL</a>
											</li>
											<li>
												<a href="landing-cor.html">CORPORATE</a>
											</li>
											<li>
												<a href="quote-form.html">GET QUOTE</a>
											</li>
										</ul>
									</li>
									<li><!-- WORK -->
										<a href="#work">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="#customers">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->
			</div>

		</div>
		
	</body>
		

</html>
