<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators</title>
		<meta name="description" content="" />
		<meta name="Author" content="J.L." />

		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" %>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto&display=swap" %>

		<%= stylesheet_link_tag "/assets/plugins/slider.revolution/css/extralayers.css" %>
	  	<%= stylesheet_link_tag "/assets/plugins/slider.revolution/css/settings.css" %>
		
		<%= stylesheet_link_tag "/assets/stylesheets/essentials.css" %>
		<%= stylesheet_link_tag "/assets/stylesheets/layout.css" %>

		
		<%= stylesheet_link_tag "/assets/stylesheets/header-1.css" %>
	</head>

	<body id="top" class="smoothscroll enable-animation grain-blue">

		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left" href="#top">
							<%= image_tag("R2.png", :alt => "Rocket Elevators Logo") %>
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#top">
											HOME
										</a>
									</li>
									<li class="dropdown"><!-- SERVICES -->
										<a class="dropdown-toggle" href="#services">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li>
												<a href="landing-res.html">RESIDENTIAL</a>
											</li>
											<li>
												<a href="landing-cor.html">CORPORATE</a>
											</li>
											<li>
												<a href="quote-form.html">GET QUOTE</a>
											</li>
										</ul>
									</li>
									<li><!-- WORK -->
										<a href="#work">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="#customers">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->
			</div>

			<div class="slider fullwidthbanner-container roundedcorners">

			<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
				<ul class="hide">

					<!-- SLIDE  -->
					<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"
						data-saveperformance="off" data-title="Our Company">
						<!-- MAIN IMAGE -->
						<!-- <img src="new_assets/AdobeStock_162479912.jpeg" alt="cover image with sky elevator"
							data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> -->

						<%= image_tag("AdobeStock_162479912", :alt => "cover image with sky elevator") %>


						<div class="tp-caption white_big skewfromtop tp-resizeme" data-x="360" data-y="100"
							data-speed="400" data-start="1000" data-easing="Power3.easeInOut" data-splitin="words"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
							style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:black;">
							Rocket Elevators
						</div>

						<div class="tp-caption content_text_center skewfromtop tp-resizeme" data-x="360" data-y="195"
							data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
							style="z-index: 3; font-size:28px; color:#fff; font-weight:300; text-shadow:black;">
							Bringing you to where you need to go <br />
							🚀as fast as a rocket 🚀
						</div>

						<div class="tp-caption skewfromleft tp-resizeme un-button-2-lg" data-x="right"
							data-hoffset="-50" data-y="400" data-speed="300" data-start="2000"
							data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
							style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-info btn-lg" href="#services">OUR SERVICES &nbsp; <i
									class="fa fa-angle-right"></i></a>
						</div>
						<div class="tp-caption skewfromleft tp-resizeme un-button-2-lg" data-x="right"
							data-hoffset="-50" data-y="500" data-speed="500" data-start="2100"
							data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-info btn-lg" href="quote-form.html">REQUEST A QUOTE &nbsp; <i
									class="fa fa-angle-right"></i></a>
						</div>
					</li>
					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
						data-saveperformance="off" data-title="Residential Buildings">
						<!-- MAIN IMAGE -->
						<img src="new_assets/AdobeStock_179073967.jpeg"
							alt="cover image with elevators and people waiting" data-bgposition="center top"
							data-bgfit="cover" data-bgrepeat="no-repeat">

						<div class="overlay dark-3">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

						<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="50" data-y="100"
							data-speed="500" data-start="1000" data-easing="Power3.easeInOut" data-splitin="words"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:black;">
							Residential Buildings
						</div>

						<div class="tp-caption skewfromleftshort tp-resizeme" data-x="50" data-y="195" data-speed="500"
							data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 3; font-size:28px; color:#fff; font-weight:300; text-shadow:black;">
							we offer services for residential buildings!!
						</div>

						<div class="tp-caption skewfromright tp-resizeme un-button-2-lg" data-x="right"
							data-hoffset="-50" data-y="450" data-speed="300" data-start="1500"
							data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
							style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-info btn-lg" href="landing-res.html">MORE DETAILS &nbsp; <i
									class="fa fa-angle-right"></i></a>
						</div>
					</li>
					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
						data-saveperformance="off" data-title="Corporate Buildings">
						<!-- MAIN IMAGE -->
						<img src="new_assets/AdobeStock_146216308.jpeg"
							alt="cover image with person pressing button in elevator" data-bgposition="center top"
							data-bgfit="cover" data-bgrepeat="no-repeat">

						<div class="overlay dark-3">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

						<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="50" data-y="100"
							data-speed="500" data-start="1000" data-easing="Power3.easeInOut" data-splitin="words"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:black;">
							Corporate Buildings
						</div>

						<div class="tp-caption skewfromleft tp-resizeme" data-x="50" data-y="195" data-speed="500"
							data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 3; font-size:28px; color:#fff; font-weight:300; text-shadow:black;">
							we offer services for Corporate buildings!!
						</div>

						<div class="tp-caption skewfromright tp-resizeme un-button-2-lg" data-x="right"
							data-hoffset="-50" data-y="450" data-speed="300" data-start="1500"
							data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
							style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-info btn-lg" href="landing-cor.html">MORE DETAILS &nbsp; <i
									class="fa fa-angle-right"></i></a>
						</div>
					</li>

				</ul>

			</div>
		</div>


		</div>
	<%= yield %>
	</body>
		

</html>
