<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevator - Residential</title>
		<meta name="description" content="" />
		<meta name="Author" content="J.L." />

		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" %>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto&display=swap" %>

		<%= stylesheet_link_tag "plugins/slider.revolution/css/extralayers" %>
	  	<%= stylesheet_link_tag "plugins/slider.revolution/css/settings" %>
		
		<%= stylesheet_link_tag "essentials" %>
		<%= stylesheet_link_tag "layout" %>

		
		<%= stylesheet_link_tag "header-1" %>
		<%= stylesheet_link_tag "blue" %>

	</head>

	<body id="top" class="smoothscroll enable-animation grain-blue">
     <body class="smoothscroll enable-animation">

	<!-- SLIDE TOP -->
	<div id="slidetop">

		<div class="container">

			<div class="row">

				<div class="col-md-4">
					<h6><i class="icon-heart"></i> Why Rocket ELevators?</h6>
					<p>We are a reliable company since 1976. We care about our customers satisfaction and provide professional quality
						elevators. A professional team is at your service for any request or advice. </p>
				</div>

				<div class="col-md-4">
					<h6><i class="fa-facheck"></i> AWARDS</h6>
					<ul class="list-unstyled">
						<li><i class="fa fa-angle-right"></i> Security Award</a></li>
						<li><i class="fa fa-angle-right"></i> The Aga Khan Award</a></li>
						<li><i class="fa fa-angle-right"></i> The Index Award</a></li>
						<li><i class="fa fa-angle-right"></i> The Best Innovation Award</a></li>

					</ul>
				</div>

				<div class="col-md-4">
					<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
					<ul class="list-unstyled">
						<li><b>Address:</b> 725 Boulevard Lebourgneuf, QC G2J 0C4<br /> Quebec, Canada</li>
						<li><b>Phone:</b> 418-580-7055</li>
						<li><b>Email:<a href="RocketElevators@Codeboxx.biz"> RocketElevators@Codeboxx.biz</a></b></li>
					</ul>
				</div>

			</div>

		</div>

		<a class="slidetop-toggle" href="#">
			<!-- toggle button --></a>

	</div>
	<!-- /SLIDE TOP -->

	<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

			
			</div>
			<!-- /Top Nav -->

		<!-- /PAGE HEADER -->

		<!-- CONTACT -->
		<section class="page-header page-header-xs">
			<div class="container">

				<h1>QUOTES</h1>

				<!-- breadcrumbs -->
			</div>
		</section>
		<!-- /PAGE HEADER -->

					<!-- FEATURED BOXES 3 -->
					<div class="row">
						<div class="col-md-4 col-6">
							<div class="text-center">
								<h4>Award Winner</h4>
							</div>
						</div>
						<div class="col-md-4 col-6">
							<div class="text-center">
								<h4>Engineered by the Best</h4>
							</div>
						</div>
						<div class="col-md-4 col-6">
							<div class="text-center">
								<h4>Very Accurate Build</h4>
							</div>
						</div>
					</div>
					<!-- /FEATURED BOXES 3 -->

					<!-- FEATURED BOXES 3 -->
					<div class="row">
						<div class="col-md-4 col-6">
							<div class="text-center">
								<h4>Sturdy</h4>
							</div>
						</div>
						<div class="col-md-4 col-6">
							<div class="text-center">
								<h4>Best Music</h4>
							</div>
						</div>
						<div class="col-md-4 col-6">
							<div class="text-center">
								<h4>Free Wifi</h4>
							</div>
						</div>

						<!---------------------------------------------START--------------------------------------------------------------------------------------------------------------------------------------------------->
						<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
						<!-- BILLING -->
						<fieldset class="mt-60">
							<div class="row">
								<div class="col-md-6">
									<label for="contact_department"> Which Building Type? *</label>
									<select id="building_type" class="form-control pointer" name="department">
										<option id="Non" value="None">--- Select ---</option>
										<option id="Rsl" value="Residential">Residential</option><!-- //11 addR -->
										<option id="Cml" value="Commercial">Commercial</option><!-- //10 -->
										<option id="Crp" value="Corporate">Corporate</option><!-- //9 -->
										<option id="Hyb" value="Hybrid">Hybrid</option><!-- //7 string-->
									</select><br>
									<p><strong>Which Elevator Class? *</strong></p>
									<input type="radio" name="Check" value="standard" onclick="checkRadiovalue()" checked> Standard
									<input type="radio" name="Check" value="premium" onclick="checkRadiovalue()"> Premium
									<input type="radio" name="Check" value="excelium" onclick="checkRadiovalue()"> Excelium
								</div>

							</div>
							<div>
								<!----------------------------------------------residential--------------------------------------------------------------------------------------------------------------------------------------------------->
								<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
								<div id="resiQ">

									<div class="row">
										<div class="col-md-12 col-sm-6">
											<label for="ApartRes">How Many Appartement? *</label>
											<input id="NbApartRes" name="NbApartRes" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcRes()" onchange="CalcRes()" oninput="validity.valid||(value='')";/>
										</div>

									</div>
									<div class="row">
										<div class="col-md-12 col-sm-6">
											<label for="FloorRes">How Many Floor? *</label>
											<input id="NbStageRes" name="NbStageRes"  novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcRes()" onchange="CalcRes()" oninput="validity.valid||(value='')"; />
										</div>

									</div>

									<div class="row">

										<div class="col-md-12 col-sm-6">
											<label for="SsRes">How Many Basement? *</label>
											<input id="NbSsRes" name="NbSsRes" novalidate type="number" novalidate class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcRes()" onchange="CalcRes()" oninput="validity.valid||(value='')"; />
										</div>
									</div>
								</div>

			<!-- -->
			<section class="alternate">
				<div class="container">
					
					<div class="text-center">
						<h2 class="wow fadeInUp m-0" data-wow-delay="0.3s">DID WE CONVINCE YOU?</h2>
						<div class="mt-30">
							<a class="btn btn-info btn-lg" href="quote-form.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>	
						</div>
					</div>

								<!---------------------------------------------------------------------Corporate------------------------------------------------------------------------------------------------------------------------>
								<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
								<div id="corpQ">

									<div class="row">
										<div class="col-md-12 col-sm-6">
											<label for="billing_email">How Many separate tenant companies? *</label>
											<input id="NbBusiCorp" name="NbBusiCorp" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcCorp()"
											 onchange="CalcCorp()" oninput="validity.valid||(value='')"; />
										</div>

									</div>
									<div class="row">
										<div class="col-md-12 col-sm-6">
											<label for="billing_email">How Many Floor? *</label>
											<input id="NbStageCorp" name="NbStageCorp" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcCorp()"
											 onchange="CalcCorp()" oninput="validity.valid||(value='')"; />
										</div>

									</div>

									<div class="row">

										<div class="col-md-12 col-sm-6">
											<label for="billing_email">How Many Basement? *</label>
											<input id="NbSsCorp" name="NbSsCorp" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcCorp()"
											 onchange="CalcCorp()" oninput="validity.valid||(value='')";/>
										</div>
									</div>
									<div class="row">

										<div class="col-md-12 col-sm-6">
											<label for="billing_email">How Many Parking? *</label>
											<input id="NbParkCorp" name="NbParkCorp" type="number" novalidate class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcCorp()" onchange="CalcCorp()" oninput="validity.valid||(value='')"; />
										</div>
									</div>
									<div class="row">

										<div class="col-md-12 col-sm-6">
											<label for="billing_email">What Is The Maximum Number Of Occupants Per Floor? *</label>
											<input id="MaxOccCorp" name="MaxOccCorp" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcCorp()"
											 onchange="CalcCorp()" oninput="validity.valid||(value='')";/>
										</div>
									</div>
								</div>
								<!--------------------hybride-------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
								<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

								<div id="hybQ">

									<div class="row">
										<div class="col-md-12 col-sm-6">
											<label for="billing_email">How Many Separate Businesses? *</label>
											<input id="NbBusiHyb" name="NbBusiHyb" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcHyb()"
											 onchange="CalcHyb()" oninput="validity.valid||(value='')"; />
										</div>

									</div>
									<div class="row">
										<div class="col-md-12 col-sm-6">
											<label for="billing_email">How Many Floor? *</label>
											<input id="NbStageHyb" name="NbStageHyb" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcHyb()"
											 onchange="CalcHyb()" oninput="validity.valid||(value='')"; />
										</div>

									</div>

									<div class="row">

										<div class="col-md-12 col-sm-6">
											<label for="billing_email">How Many Basement? *</label>
											<input id="NbSsHyb" name="NbSsHyb" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcHyb()" onchange="CalcHyb()" oninput="validity.valid||(value='')"; />
										</div>
									</div>
									<div class="row">

										<div class="col-md-12 col-sm-6">
											<label for="billing_email">How Many Parking? *</label>
											<input id="NbParkHyb" name="NbParkHyb" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcHyb()"
											 onchange="CalcHyb()" oninput="validity.valid||(value='')"; />
										</div>
									</div>
									<div class="row">

										<div class="col-md-12 col-sm-6">
											<label for="billing_email">What Is The Maximum Number Of Occupants Per Floor? *</label>
											<input id="MaxOccHyb" name="MaxOccHyb" novalidate type="number" class="form-control novalidate rst" min="0" max="10000" onkeyup="CalcHyb()"
											 onchange="CalcHyb()" oninput="validity.valid||(value='')"; />
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<label for="contact_department">Opening Hours Of The Building? *</label>
											<input id="OppHourHyb" name="OppHourHyb" novalidate type="number" class="form-control novalidate rst" min="1" max="24" onkeyup="CalcHyb()"
											 onchange="CalcHyb()" oninput="validity.valid||(value='')"; />
											
										</div>

									</div>

								</div>

								<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
								<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

						</fieldset>
						<!-- /BILLING -->

						<!-- /SHIPPING -->

					</div>



					<div class="col-lg-5 col-sm-5">
						<div class="heading-title">
							<h2 style="position: relative;text-align:'center';">OUR PRICES</h2>
						</div>


						<!-- Quote -->
						<fieldset id="ccPayment" class="mt-30 hide">

							<div class="toggle-transparent toggle-bordered-full clearfix">
								<div class="toggle active">
									<div class="toggle-content">

						
						
									</fieldset>
						<!-- /CREDIT CARD PAYMENT -->


						<!-- TOTAL / PLACE ORDER -->
						<div class="toggle-transparent toggle-bordered-full clearfix">
							<div class="toggle active">
								<div class="toggle-content">

									<span class="clearfix">
										<span id="totalele" class="float-right">0</span>
                                        <input id="TotalElevators" name="nb_of_column" class="float-right" type="hidden" value="">

										<span class="float-left"><strong>Total Elevators:</strong></span>
									</span>
									<span class="clearfix">
										<span id="perc" class="float-right">10%</span>
										<span class="float-left">Installation Fees:</span>
									</span>

									<hr />

									<span class="clearfix">
										<span id="totalfin" class="float-right fs-20">0.00$</span>
                                        <input id="TotalFinal" name="nb_of_column" lass="float-right fs-20" type="hidden" value="">
										<strong class="float-left"><u>TOTAL:</u></strong>
									</span>

									<hr />
									<input type="text" name="Full Name" class="form-control" placeholder="Full Name" required>
                                    <input type="text" name="Phone Number" class="form-control" placeholder="Phone Number" required>
									<button type="submit"class="btn btn-primary btn-lg btn-block fs-15" >Send Quote Now</button>
									
								</div>
							</div>
						</div>
						<!-- /TOTAL / PLACE ORDER -->
						</form>
						
						</span>
						
					</div>
					
                    
				<% end %>
			</div>
		</section>
	</div>
	<!-- /CHECKOUT -->
	<!-- /CART -->


	<!-- /FOOTER -->

	<!-- /wrapper -->

	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>
		


	

        		<!-- JAVASCRIPT FILES -->
        <%= javascript_include_tag "scripts" %>	

	</body>
</html>